body{
	background-color: rgb(247, 245, 245);
	margin: 0;
	padding: 0;
	font-family: cursive;
	font-size: 23px;
}

#central-container{
	max-width: 50%;
	margin:0 auto;
	position: relative;
}

@media(max-width: 1185px){
    #central-container{
    max-width: 85%;
    }

}


h2{
	margin: 10px 0 25px;
	display: block;
}

#top-bar{
    display: flex;
    justify-content: space-between;
}

#clock{
	display: inline-block;
	margin: 20px 0 0 0;
}

#leave{
    margin-top: 20px;
    float:right;
}


.buttons-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}
@media (max-width: 650px){
    .buttons-container{
        max-width: 380px;
        justify-content: space-evenly;
         margin: 0 auto;
    }
}

.urgency-buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

@media (max-width: 650px){
    .urgency-buttons{
        max-width: 380px;
        justify-content: space-evenly;
         margin: 0px auto;
    }
}

.filter-by-urgency{
    width:100px;
    height:40px;
    font-family:cursive;
    font-size:20px;
    background-color:lightsteelblue;
    border-radius:7px;
    color: white;
    border: none;
    margin-top: 5px;
    padding:0 3px;
}

.all{
    width:100px;
    height:40px;
    font-family:cursive;
    font-size:20px;
    background-color:lightsteelblue;
    border-radius:7px;
    color: white;
    border: none;
    margin-top: 5px;
    padding:0 3px;
}

.chosen{
    text-decoration: underline;
    background-color: #d6e8ff;
}

#add-new-task-button{
	background-color: #5353d8;
	padding: 10px 20px ;
	width: 200px;
	height: 55px;
	color: white;
	margin: 20px 0;
	font-family: cursive;
	font-size: 20px;
	border-top: none;
	border-left: none;
	border-bottom: 4px solid #2b2b86;
	border-right: 4px solid #2b2b86;
	border-radius: 10px;
}

#delete-all-tasks-button{
	padding: 10px 20px;
	font-family: cursive;
	font-size: 20px;
	background-color: #8c32ef;
	color: white;
	width: 200px;
	height: 55px;
	margin: 20px 0;
	border-top: none;
	border-left: none;
	border-bottom: 4px solid #5f1aab;
	border-right: 4px solid #5f1aab;
	border-radius: 10px;
}



#home-page {
	padding:0 50px;
	width: 90%;
	min-width: 360px;
	margin: 0 auto;
	position:relative;
}

.task-name-container{
	border-bottom: 1px solid #06060630;
	position: relative;
}

.task-item{
	background-color: white;
	padding: 0 20px 20px 20px;
	margin: 20px auto;
	border-radius: 10px;
}

.buttons-cont{
	margin: 10px 25px 0 40px ;
	display: inline-block;
    float:right;
}

.delete-button{
	padding: 4px 4px 0 4px;
}

.task-link{
	margin: 20px auto;
	display: inline-block;
}


#add-task-page{
	padding:20px 0;
	margin: 0 auto;
	background-color: rgb(245, 245, 245);
}

#add-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h3{
    margin: 0 auto;
    text-align: center;
}

.hidden{
    display: none;
}

#add-task-form{
	background-color: white;
	margin: 10px auto 20px;
	padding: 20px 60px;
	min-height: 400px;
	position: relative;
	border-radius: 10px;
}

label{
    margin:10px 0;
}

input{
	background-color: rgb(245, 245, 245);
	padding: 5px 20px;
	width: 95%;

	font-size:23px;
	font-family: cursive;
	border-radius: 10px;
	border:1px solid #00000070;
}

textarea {
	background-color: rgb(245, 245, 245);
	resize: vertical;
	overflow: auto;
	width: 95%;
	height: 150px;
	padding: 10px 20px;
	font-size:21px;
	font-family: cursive;
	border-radius: 10px;
	border:1px solid #00000070;
}

.date-container{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#deadline{
	border:1px solid #00000070;
	width: 80%;
}


#save-button{
    background-color: #5353d8;
    padding: 10px 20px;
    width: 200px;
    height: 55px;
    color: white;
    font-size: 20px;
    font-family: cursive;
    border-top: none;
    border-left: none;
    border-bottom: 4px solid #2b2b86;
    border-right:  4px solid #2b2b86;
    border-radius: 10px;
}




.update-task-form{
	background-color: white;
	margin: 10px 20px 20px;
	padding: 20px 60px;
	position: relative;
	border-radius: 10px;
}

.datetime-box{
    margin-right: 20px;
}

.deadline-upd{
	border:1px solid #00000070;
	width: 80%;
}


.update-button{
	background-color: #53d085fa;
	padding: 10px 20px;
	width: 200px;
	height: 55px;
	color: white;
	margin: 33px 0;
	font-size: 20px;
	font-family: cursive;
    display: block;
	border-top: none;
	border-left: none;
	border-bottom: 4px solid #3c3cab;
	border-right: 4px solid #3c3cab;
	border-radius: 10px;
}



#updDeadline{
	border:1px solid #00000070;
	width:340px;
	font-family: cursive;
	display: inline-block;
	margin: 20px 0;
}

#save-changes{
	background-color: #53d085fa;
	padding: 10px 10px ;
	width: 200px;
	height: 55px;
	color: white;
	margin: 20px 0;
	font-size: 20px;
	font-family: cursive;
	border-top: none;
	border-left: none;
	border-bottom: 4px solid #3c3cab;
	border-right: 4px solid #3c3cab;
	border-radius: 10px;
}
