<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="/js/jquery-3.4.0.min.js" type="application/json"></script>
    <script src="/js/script.js" type="application/json"></script>
    <link rel="stylesheet" type="text/css" href="/css/login_styles.css">
</head>
<body>
    <div id="central-container">
        <div id="home-page-header-cont">
            <div id="clock"></div>
        </div>
        <br>
        <div th:if="${param.error}">
            <div class="alert alert-info">Ошибка авторизации. Неверный логин или пароль.<br> Попробуйте снова</div>
        </div>
        <div th:if="${param.logout}">
            <div class="alert alert-info">Вы успешно вышли из системы </div>
        </div>
        <div id="login-page">
            <form id="login_form" th:action="@{/login}" method="post" th:object="${loginForm}">
                <input type="email" class="login_item" id="name" required placeholder="Введите имя" th:field="*{username}" />
                <br>
                <input type="password" class="login_item" id="password" required placeholder="Введите пароль" th:field="*{password}"/>
                <br>
                <br>
                <button type="submit" id="enter-button" class="login_item">Войти</button>
                <br>
                <br>
                <span>Впервые здесь? <a th:href="@{/registration}">Регистрация</a></span>
            </form>
        </div>
    </div>
</body>
</html>